* {
    box-sizing: border-box;
}

:root {
    --primary-color: #2ac9bf;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ==========Common======== */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 186px;
    text-align: center;
    border-radius: 14px;
    background: var(--primary-color);
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 68px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.lv2 {
    --line-clamp: 2;
}

.line-clamp.lv3 {
    --line-clamp: 3;
}

/* =========Header========== */

.header.fixed {
    position: sticky;
    background-color: #fff;
    top: -44px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 52px 0 8px;
}

.nav ul {
    display: flex;
    margin-left: 215.5px;
}

.nav li a {
    padding: 8px calc(39px / 2);
    color: #2f3a3b;
    font-size: 1.6rem;
    font-weight: 400;
}

.nav li a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #2f3a3b;
}

.header .actions .action-link {
    margin-left: 133.5px;
    padding: 8px 24px;
    color: #494949;
    font-size: 1.6rem;
    font-weight: 400;
}

.header .actions .sign-up-btn {
    color: var(--primary-color);
    background-color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 47px;
    min-width: 108px;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
}

.header .actions .sign-up-btn:hover {
    box-shadow: 0 0 20px rgba(30, 191, 193, 0.3);
    color: #fff;
    background: var(--primary-color);
}

/* =========Hero========= */
.hero {
    padding: 42px 0 79px;
}

.hero .body {
    display: flex;
}

/* ====Hero Left==== */
.hero .content-block {
    width: 45%;
    padding: 93px 71px 0 0;
}

.hero .content-block .label {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #767e7e;
}

.hero .content-block .heading {
    margin-top: 18px;
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16; /* 116.129% */
}

.hero .content-block .desc {
    width: 374px;
    margin: 46px 0 52px 0;
    color: #9da6a5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */
}

.hero .cta-group {
    display: flex;
    align-items: center;
}

.hero .watch-video {
    border: none;
    background-color: #fff;
    margin-left: 50px;
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video .icon:hover {
    cursor: pointer;
    opacity: 0.5;
    box-shadow: 0 0 30px rgba(30, 191, 193, 0.5);
    transition: box-shadow 0.5s, border-color 0.5s, background-color 0.5s;
}

/* ===Hero Right==== */
.hero .media-block {
    position: relative;
    width: 55%;
}

.hero .media-block .img {
    display: block;
    margin-left: auto;
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.hero-courses {
    padding: 17px 0 18px 25px;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    width: 157px;
    height: 75px;
    top: 149px;
    left: 20px;
}

.hero-courses .book {
    display: flex;
    position: relative;
    width: 36px;
    height: 40px;
    background-color: #ff8282;
    border-radius: 5px 3px 3px 5px;
}

.hero-courses .book::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 28px;
    height: 4px;
    background-color: #fff;
    left: 4px;
    right: 4px;
    bottom: 8px;
}

.hero-courses .title {
    margin-left: 16px;
    width: 55px;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

.schedule {
    position: absolute;
    width: 124px;
    padding: 16px 25px 23px;
    border-radius: 24px;
    background-color: #ffffff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.1);
    left: -5px;
    bottom: 46px;
}

.schedule .title {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    padding: 0 10px 0 11px;
}

.schedule .schedule-line:first-of-type {
    margin: 16px 0 12px;
}

.schedule .schedule-line {
    position: relative;
    width: 74px;
    height: 6px;
    background-color: #edf1f5;
    border-radius: 3px;
}

.schedule .schedule-line:not(:last-child)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 55%;
    height: 100%;
    border-radius: 3px;
    background: #fb9899;
}

.schedule .schedule-line:nth-of-type(2)::before {
    width: 70%;
}

.schedule .schedule-line:nth-of-type(3)::before {
    width: 45%;
}

.schedule .schedule-line:nth-of-type(3) {
    margin: 10px 0 16px;
}

.schedule .schedule-line:last-of-type {
    width: 26px;
    margin-left: auto;
    margin-right: auto;
}

.student-highlight {
    position: absolute;
    padding: 17px 35px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
    height: 90px;
    bottom: 41px;
    right: 45px;
}

.student-highlight .title {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 8px;
}

.student-highlight .avatar-block {
    display: flex;
}

.student-highlight .avatar {
    width: 33px;
    height: 33px;
    border-radius: 33px;
    object-fit: cover;
    color: #fff;
    margin-left: -7px;
}

.student-highlight .avatar:first-child {
    margin-left: 0;
}

.student-highlight .avatar-no-image {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--primary-color);
}

/* ========Feature======== */
.feature {
    margin-top: 65px;
    padding: 65px 0;
}

.feature .body {
    width: 88%;
}
/* Feature top */
.feature-top .label {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.feature-top .heading {
    margin: 18px 0;
    width: 56.3%;
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33; /* 133.333% */
}

.feature-top .desc {
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    width: 57.6%;
    line-height: 1.5;
    margin-bottom: 80px;
}

/* Feature bottom */
.feature .list-activity {
    display: flex;
    align-items: center;
    gap: 200px;
}

.feature .list-activity .title {
    margin-top: 26px;
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
}

.feature .list-activity .desc {
    margin-top: 16px;
    color: #9da6a5;
    width: 223px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.69; /* 168.75% */
}

.feature .list-activity .item:first-child .desc {
    width: 168px;
}

/* ======Courses====== */
.courses {
    margin-top: 65px;
}

/* Header */
.courses header .label {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.courses header .sub-title {
    margin: 18px 0 19px;
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
}

.courses .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 79px;
}

.courses header .row .desc {
    width: 44.8%;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */
}

.courses header .row .link {
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
}

.courses header .row .link:hover {
    text-decoration: underline;
    opacity: 0.7;
}

/* Bottom */
.courses .list {
    display: flex;
    gap: 47px;
}

.courses .item {
    position: relative;
}

.courses .list .thumb {
    width: 359px;
    height: 393px;
    border-radius: 8px;
    background: #d0efed;
    object-fit: cover;
}

.courses .body {
    position: absolute;
    left: 17px;
    bottom: -71px;
    padding: 18px 25px 29px;
    width: 325px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.courses .body:hover {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    cursor: pointer;
}

.courses .body .price .bold,
.courses .body .title {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.5;
}

.courses .body .price {
    margin-top: 16px;
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
}

.courses .body .desc {
    margin-top: 6px;
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
}

.courses .body .info {
    margin-top: 18px;
    display: flex;
    gap: 10px;
}

.courses .body .info .item-amount {
    display: inline-flex;
    align-items: center;
    color: #9da6a5;
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 400;
}

.courses .body .info .item-amount::before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #1ebfc1;
}

.courses .row-qty {
    width: 74%;
    margin-bottom: 0;
    margin-top: 265px;
    margin-left: auto;
    margin-right: auto;
}

.courses .row-qty .qty-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.courses .row-qty .qty {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.5;
}

.courses .row-qty .qty-desc {
    margin-top: 11px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
}

/* ============Feedback============= */
.feedback {
    margin-top: 264px;
}

.feedback-item {
    display: flex;
    height: 481px;
}

/* Left */
.feedback-item .content {
    display: flex;
    align-items: center;
    margin-right: 72px;
}

.feedback-item .inside {
    width: 419px;
    height: 407px;
}

.feedback-item .inside blockquote {
    margin-top: 27px;
    color: #5d6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
}

.feedback-item .inside .quote-owner {
    display: inline-flex;
    align-items: center;
    margin-top: 33px;
}

.feedback-item .inside .quote-owner::before {
    margin-right: 5px;
    content: "";
    display: inline-block;
    width: 8px;
    height: 2px;
    background: #070707;
}

.feedback-item .inside .quote-owner .bold {
    color: #070707;
    font-weight: 500;
    line-height: 1.5;
    font-size: 1.6rem;
}
.feedback-item .inside .quote-owner .normal {
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
}

.feedback-item .inside .controls {
    margin-top: 52px;
    display: flex;
    gap: 30px;
}

.feedback-item .inside .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: transparent;
}

.feedback-item .inside .control-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 20px rgba(30, 191, 193, 0.3);
    color: #fff;
    background: var(--primary-color);
}

/* Right */
.feedback-item .info {
    position: relative;
    width: 58%;
}

.feedback-item .info .quote-item-img {
    position: absolute;
    width: 78px;
    height: 78px;
    border-radius: 50%;
}

.feedback-item .info .quote-item-img:first-child {
    left: 0;
    bottom: 145px;
}

.feedback-item .info .quote-item-img:nth-child(2) {
    width: 92px;
    height: 92px;
    top: 0;
    left: 144px;
}

.feedback-item .info .quote-item-img:nth-child(3) {
    left: 273px;
    top: 107px;
    width: 235px;
    height: 235px;
}

.feedback-item .info .quote-item-img:nth-child(4) {
    bottom: 0;
    left: 212px;
}

.feedback-item .info .quote-item-img:nth-child(5) {
    right: 32px;
    bottom: 29px;
}

.feedback-item .info .quote-item-img:last-child {
    top: 19px;
    right: 0;
    width: 110px;
    height: 110px;
}

/* ===========Subscription============= */
.subscription {
    margin-top: 130px;
    padding: 76px 0 88px;
    background-color: #def6f5;
}

.subscription .info {
    display: flex;
    align-items: center;
}

.subscription .body .heading {
    margin-right: 410px;
    width: 420px;
    color: #070707;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.5;
}
.subscription .body .desc {
    width: 397px;
    color: #767e7e;
    margin-top: 18px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
}

/* ===========Footer============ */
.footer {
    padding: 130px 0 50px;
}

.footer .row {
    display: flex;
}

.footer .column:not(:last-child) {
    margin-right: 144px;
}

.footer .column:nth-child(4) {
    margin-right: 137px;
}

.footer .row .title {
    color: #2e2e2e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
}

.footer li {
    margin-top: 18px;
}

.footer .column:last-child li {
    display: flex;
    gap: 9px;
}

.footer .list a {
    color: #535353;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
}

.footer .copyright {
    margin-top: 80px;
    text-align: center;
    color: #b0b5b4;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
}
